Import Statements

In [21]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#Displays all the results, not just the last one

Dataframe Conversion

In [22]:
import pandas as pd
from pathlib import Path
import pyarrow.parquet as pq

month = 1
year = 2023
path = Path("..") / "data" / "raw" / f"rides_{year}_{month:02}.parquet"

table = pq.read_table(path)
rides = table.to_pandas()
rides.head()
rides.shape
#Converst the downloaded data in the data/raw folder to pd dataframe

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

(3066766, 19)

Duration and Total Amount Filter

In [23]:
rides_cp = rides.copy()
rides_cp["duration"] = rides["tpep_dropoff_datetime"] - rides["tpep_pickup_datetime"]
rides_cp.head()
rides_cp.shape
#Finds the duration using fropoff time and pickup time

duration_filter = (rides_cp["duration"] > pd.Timedelta(0)) & (rides_cp["duration"] <= pd.Timedelta(hours=5)) #Finds rows where duration < 0 or more than 5 hours and assigns True between 0 and 5
invalid_duration = sum(~duration_filter) / rides_cp.shape[0] * 100 #Checks %of invalid rows present
print(f"Invalid rows: {invalid_duration:.2f}%") #Prints % of invalid rows from duration

total_amount_filter = (rides_cp["total_amount"]  > 0) & (rides_cp["total_amount"] <= rides_cp["total_amount"].quantile(0.999))
invalid_total_amount = sum(~total_amount_filter) / rides_cp.shape[0] * 100 #Checks %of invalid rows present
print(f"Invalid rows: {invalid_total_amount:.2f}%") #Prints % of invalid rows from amount

nyc_locations = ~rides_cp["PULocationID"].isin((1, 264, 265))
invalid_locations = sum(~nyc_locations) / rides_cp.shape[0] * 100
print(f"Invalid rows: {invalid_locations:.2f}%") #Prints % of invalid rows from locations

filter_date_range = (rides_cp["tpep_pickup_datetime"] >= "2023-01-01") & (rides_cp["tpep_pickup_datetime"] < "2023-02-01")
invalid_date_range = sum(~filter_date_range) / rides_cp.shape[0] * 100
print(f"Invalid rows: {invalid_date_range:.2f}%") #Prints % of invalid rows from date_range

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,0 days 00:08:26
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,0 days 00:06:19
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,0 days 00:12:45
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,0 days 00:09:37
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,0 days 00:10:50

(3066766, 20)

Invalid rows: 0.13%
Invalid rows: 0.94%
Invalid rows: 1.38%
Invalid rows: 0.00%

In [24]:
final_filter = duration_filter & total_amount_filter & nyc_locations & filter_date_range
numbers_dropped = final_filter.shape[0] - sum(final_filter) # numbers dropped
numbers_dropped
rows_dropped = numbers_dropped/final_filter.shape[0] * 100
print(f"Invalid rows: {rows_dropped:.2f}%") #Prints % of rows dropped using all filters

73626

Invalid rows: 2.40%

In [ ]:
rides = rides[final_filter] #Apply final filter to rides
rides = rides[["tpep_pickup_datetime", "PULocationID"]]
rides.rename(columns={
    "tpep_pickup_datetime": "pickup_datetime",
    "PULocationID": "pickup_location_id"
}, inplace=True) #Filter and rename only two columns
rides.head()
year = 2023
month = 1
path = Path("..") / "data" / "processed" / f"rides_{year}_{month:02}.parquet"
rides.to_parquet(path, engine="pyarrow", index=False) #Save Processed parquet file

      pickup_datetime  pickup_location_id
0 2023-01-01 00:32:10                 161
1 2023-01-01 00:55:08                  43
2 2023-01-01 00:25:04                  48
3 2023-01-01 00:03:48                 138
4 2023-01-01 00:10:29                 107